{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ title }}</h1>

{{ form_start(form) }}
<div class="d-flex gap-2 mb-3">
    {{ form_widget(form.submit) }}
    {% if routecancel is defined %}
        <a href="{{ path(routecancel) }}" class="btn btn-secondary">Annuler</a>
    {% endif %}
    {% if routedelete is defined and group and group.id %}
        <a href="{{ path(routedelete, {id: group.id}) }}" class="btn btn-danger ms-auto" onclick="return confirm('Voulez-vous supprimer ce groupe ?')">Supprimer</a>
    {% endif %}
</div>

<div class="text-center d-flex flex-column align-items-center">
    {{ form_row(form.logo) }}
</div>

<div class="row">
    <div class="col-md-6 m-auto">
        <div class="card">
            <div class="card-header">
                <h5>Informations</h5>
            </div>
            <div class="card-body">
                {% if form.type is defined %}{{ form_row(form.type) }}{% endif %}
                {{ form_row(form.name) }}
                {{ form_row(form.description) }}
                {{ form_row(form.isOpen) }}
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
{% endblock %}